<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav   #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" style="background-color:   #e6ffff
      ">
    <mat-toolbar>Menu</mat-toolbar>
    
    <mat-nav-list >
      <a mat-list-item routerLink="/welcome" routerLinkActive="active">Check Taxi</a>

      <!-- <a mat-list-item routerLink="/products" routerLinkActive="active">Products</a> -->
      <a mat-list-item routerLink="/results" routerLinkActive="active">Parked Taxi</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Taxi Parking</span>
      <span class = "spacer"></span>

      <a class="whitelink" [routerLink]="['/signup']" *ngIf = "!(authService.user | async)?.uid">Sign Up</a>
      <a class="whitelink" [routerLink]="['/login']" *ngIf = "!(authService.user | async)?.uid">Login</a>
      <a class ="whitelink" *ngIf = "(authService.user | async)?.uid" (click) = "authService.logout()">Logout</a>

    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
