

<!-- file uploader -->
<div class="main">
    <h1>Please upload your file</h1>
    <input (change)="onFilePicked($event)" class="custom-file-input" placeholder="Upload File" type="file" />
    <button (click)="onFileUpload()" class="myButton" >Upload File</button>
    <p *ngIf="errorMsg"> Please Select A File</p>
    
    <table *ngIf="res">
      <!-- ADD HEADERS -->
      <tr>
          
              <th>Result</th>
      </tr>
      {{this.taxinum}} <br>
      Two last digits are : 
      {{this.lastdigits}}
       <!-- {{res|json}} -->
      
       </table>
</div>