.size400{
  width: 400px;
}
.white{
  color: white !important;
}

#main{
  text-align: center;
  padding: 10% 0; 
  height: 100%; 
  
}

mat-card{
 width: 500px;
 height: 400px;
 margin: auto;
}

h1{
  font-family: Microsoft Sans Serif;
  font-weight: bold;

}
.container{
  background-image: url(/assets/taxi2c.png);
}
