
<div class="container">
  <div id="main">
  <mat-card>
      <h1>Register</h1>
      <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
          <br>
          <br>
            <mat-form-field class="size400">
                    <input matInput placeholder="Email" #Email="ngModel" [class.is-invalid]="Email.invalid && Email.touched"
                     [(ngModel)] = "email" name = "email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
  
                    <div *ngIf="Email.errors && (Email.invalid || Email.touched)">
                        <small class="text-danger" *ngIf="Email.errors.pattern">Please provide a valid email address</small>
                      </div>
            </mat-form-field>
          <br>
            <mat-form-field class="size400">
              <input matInput placeholder="password" [(ngModel)] = "password"
                               name = "password"
                               type="password"
                               required 
                               #spy
                               #signup = "ngModel">
                              
              <mat-error *ngIf="!(signup.valid || signup.pristine)">
                  password is required
              </mat-error>                        
            </mat-form-field>
      
          
          <div >
              <button class="size400" style=" margin-top: 50px;" mat-raised-button color="primary" [disabled]="!signupForm.form.valid">Register</button>
          </div>
          <br>
          <p>Already have an account?<a routerLink="/login" class="btn btn-link">Sign in</a></p>
        </div>
      </form>
      </mat-card>
    </div>
    </div>